.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo-card {
  padding: 5px 15px 0px 15px;
  margin: 10px;
}

.card {
  color: black;
  text-align: left;
}

.study-session-card {
  max-width: 20rem;
  margin: 10px;
}

.study-session-card p.card-text {
  margin-bottom: 0;
  font-size: 1rem;
}

.study-session-card button {
  float: right;
}

.study-unit-container {
  max-width: 450px;
  padding: 0px 25px;
}

.study-unit-container a {
  color: #61dafb;
}

.study-unit-btns {
  width: fit-content;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.study-unit-btns button {
  margin: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
